.EmployeeDetailPage .back-button {
    border: none;
    height: 30px;
    width: 50px;
    background-color: white;
    cursor: pointer;
    padding-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}
.EmployeeDetailPage .back-button:hover {
    font-size: 17px;
    transition: 0.3s;
}
.EmployeeDetailPage label {
    margin-left: 5px;
}
.EmployeeDetailPage label input {
    margin-left: 5px;
}